<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nebula.connect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nebula_connect_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <activity android:name="com.nebula.connect.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <receiver
            android:name="com.nebula.connect.AlarmReceiver"
            android:process=":remote">
        </receiver>
        <receiver android:name="com.nebula.connect.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.nebula.connect.SyncService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <activity android:name="com.nebula.connect.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
        <activity android:name="com.nebula.connect.TabPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="com.nebula.connect.ImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.logreports.SendLog"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.SaleListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.PurchaseHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.StartDayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.MeetingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.nebula.connect.MeetingDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.PainterDataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.UploadPendingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.PainterDataListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nebula.connect.UserGuideActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.nebula.connect.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.nebula.connect.MyFIrebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.nebula.connect.SendLogService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ab36672452fa3aeb5a78befb85ef99c4e5794166" />

    </application>

</manifest>
